.wrapper {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* display: flex; */
  overflow: hidden;
}
.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 2px;
  background-color: #fcdc29;
  border-radius: 50%;
  animation: loading 3s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}

.circle-1 {
  animation-delay: 0.2s;
}
.circle-2 {
  animation-delay: 0.4s;
}
.circle-3 {
  animation-delay: 0.6s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}

@keyframes loading {
  0% {
    left: -5%;
    background-color: #fcdc29;
  }

  20%,
  50% {
    left: calc((100% - 5%) / 2);
    background-color: #ca212e;
  }
  90%,
  100% {
    left: 100%;
    background-color: #fcdc29;
  }
}
